body{
	background-color: #B5B5B5;
	color: black;

}
h3{
	font-family: verdana;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;

}	
h1{
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;

}
p{
	font-family:trebuchet;
	font-size: 25px;
	text-align: justify;

}