body{
	background-color: #E8E8E8;
	color: black;
	margin-right: 130px;
	margin-left: 130px;

}
a:link{
	color:#363636;
	text-decoration: none;
}
a:visited{
	color: #4F4F4F;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: none;
}
a{
	font-family: verdana;
	font-size: 22px;
	font-style: normal;

}	

.titulo{
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;

}
.texto{
	font-family:sans-serif;
	font-size: 18px;
	text-align: justify;
	text-indent: 30px;

}
hr{
	border-width: 2px;
	border-style: solid;
	border-color:#4F4F4F;
	width: 1101;

}
h3{
	font-family: sans-serif;
	font-size: 20px;
}
.tabela{
	table-layout: auto;
	border-width: 600px;
}
td{
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	border-style: solid;
	border-color: #4F4F4F;
}
.formulario{
	font-size: 15px;
	font-family: sans-serif;

}
